<p>You have connected this app to Planning Center!</p>

<p><a href="/auth/logout">Log out</a></p>

<h2>You:</h2>
<pre><%= JSON.pretty_generate(@me) %></pre>

<p>token: <code><%= @token.inspect %></code></p>

<p><a href="/auth/refresh">refresh</a></p>
