<!DOCTYPE html>
<html>
  <head>
    <title>PCO API OAuth Example</title>
    <link rel="stylesheet" href="/style.css"/>
  </head>
  <body>
    <div class="wrap">
      <header>
        <h1>Hello PCO API!</h1>
        <% if @logged_in %>
          <ul class="nav">
            <li><a href='/people'>People</a></li>
            <li><a href='/auth/logout'>Logout</a></li>
          </ul>
        <% end %>
      </header>
      <div id="content"><%= yield %></div>
    </div>
  </body>
</html>
